################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/GameOfLife/.vs/GameOfLife/FileContentIndex/7ce77e4d-2b6e-494a-a102-0fa342dde811.vsidx
/GameOfLife/.vs/GameOfLife/FileContentIndex/81968023-a8eb-40ea-b6e3-a2ad2ee79274.vsidx
/GameOfLife/.vs/GameOfLife/FileContentIndex/fd8fb6f7-1e81-45e6-bdfa-0dbb24a7340d.vsidx
/GameOfLife/.vs/GameOfLife/v17/.suo
/GameOfLife/.vs/GameOfLife/FileContentIndex/68c861eb-12e4-4a23-beab-1826163b7c4c.vsidx
/GameOfLife/.vs/GameOfLife/FileContentIndex/996c5bee-2561-40b7-8671-425837e7a909.vsidx
/GameOfLife/GameOfLife/.vs/GameOfLife.csproj.dtbcache.json
